<footer class="footer-distributed">

    <div class="footer-left">

        <h3><a href="http://www.targetedsocial.com"> <img src="img/brand/targeted-logo.svg" width="200px"></img></a></h3>

        <p class="footer-links">
            <a href="#/paid-media">Paid Media</a>
             &nbsp       
            <a href="#/creative">Creative</a>
            &nbsp
            <a href="#/clients">Clients</a>
            &nbsp
            <a href="#/team/">About Us</a>
            &nbsp
            <a href="#/contact/">Contact</a>
        </p>

        <p class="footer-company-name">Targeted Social &copy; 2016</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p>301 East 10th Street</br> New York, New York USA</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+1 646.434.4590</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:info@targetedsocial.com">info@targetedsocial.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>Who We Are</span>
            An entrepeneurial Digital/Social Media company with significant experience, best-in-class technology, and a team of inspired experts.
        </p>

        <div class="footer-icons">

            <a href="https://www.facebook.com/TargetedSocial/?fref=ts"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/targeted_social"><i class="fa fa-twitter"></i></a>
            <a href="#" class="hidden"><i class="fa fa-instagram"></i></a>
            <a href=" https://www.linkedin.com/company/2322243?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A2322243%2Cidx%3A2-1-2%2CtarId%3A1456182412540%2Ctas%3Atargeted%20social"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.pinterest.com/targetedsocial/"><i class="fa fa-pinterest"></i></a>

           

        </div>

    </div>

</footer>