<div id="hitachi-google-1" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Hitachi's Independently Crafted Google Campaigns</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/creative_modals/independent/hitachi_google_1.jpg" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="hitachi-google-2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Hitachi's Independently Crafted Google Campaigns</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/creative_modals/independent/hitachi_google_2.jpg" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<div id="hitachi-google-3" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Hitachi's Independently Crafted Google Campaigns</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/creative_modals/independent/hitachi_google_3.jpg" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="hitachi-google-4" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Hitachi's Independently Crafted Google Campaigns</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/creative_modals/independent/hitachi_google_4.jpg" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>







<div id="forte-modal-1" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Forte's Independently Crafted Advertisement</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/creative_modals/independent/forte_1.jpg" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="forte-modal-2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Forte's Independently Crafted Advertisement</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/creative_modals/independent/forte_2.jpg" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<div id="forte-modal-3" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Forte's Independently Crafted Advertisement</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/creative_modals/independent/forte_3.jpg" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>




<div id="woodbridge-modal-1" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Woodbridge Enhancements</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/creative_modals/enhanced/woodbridge_1.png" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="woodbridge-modal-2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Woodbridge Enhancements</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/creative_modals/enhanced/woodbridge_2.png" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="woodbridge-modal-3" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Woodbridge Enhancements</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/creative_modals/enhanced/woodbridge_3.png" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="hitachi-modal-1" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Hitachi Copywriting</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/creative_modals/copywriting/hitachi_copy_1.png" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="hitachi-modal-2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Hitachi Copywriting</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/creative_modals/copywriting/hitachi_copy_2.png" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="hitachi-modal-3" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Hitachi Copywriting</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/creative_modals/copywriting/hitachi_copy_3.png" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="hitachi-modal-4" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Hitachi Copywriting</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/creative_modals/copywriting/hitachi_copy_4.png" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="hitachi-modal-5" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Hitachi Copywriting</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/creative_modals/copywriting/hitachi_copy_5.png" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<targeted-header></targeted-header>

<div class="subpage window-wall animated fadeIn">
    <div class="wrapper creative animated fadeIn">
        <h1>Creative</h1>
        
        <h2 class="text-center learn-icon" style="margin-top: 0px;  text-shadow: 1px 1px 2px #0e5372; font-size: 34px; color: #ffffff; font-family: GothamBold;"><i class="fa fa-angle-double-down"></i></h2>
    </div>

</div>





<div class="sections-wrapper">   
 
    <!-- ******Why Section****** -->
    <section id="why" class="section why">

        <p class="introduction text-center">Good creative with the proper messaging could be the difference between success and failure for every campaign. Targeted Social’s experienced team of designer’s and artists can help develop, enhance or optimize any piece of creative or write any piece of copy.</p>

        <div class="container creative">
            
          <ul class="nav nav-tabs text-center " id="creative-tabs" role="tablist" >
              <li class="col-xs-12 col-sm-6 active"><a onclick="return false;"  href="#facebook_tab" role="tab" data-toggle="tab" class=""><i class="fa fa-facebook"></i><br /><span > Facebook Creative</span></a></li>
              <li class="center-block col-xs-12 col-sm-6"><a onclick="return false;"  role="tab" data-toggle="tab" href="#google_tab" ><i class="fa fa-google"></i>
                <br /><span class=""> Google Creative</span></a></li>
          </ul><!--//nav-tabs-->


          <div class="tab-content">
            <div id="facebook_tab" class="tab-pane fade in active">

                    <h2 style="padding-top: 40px;" class="title text-center">Copywriting</h2>
                    <hr>

                    <p class="intro text-center"> Hitachi Motorsports looked to drive viewers into the Motorsports microsite, so they asked us to design a Facebook link advertisement that would help them hit their viewership goals. Not only did we pen the copy for this successful campaign, we also crafted its visuals.</p>
                    <div class="blog container">
                        <div id="blog-mansonry" class="blog-list">
                            
                            
                           <article class="post col-xs-12 col-sm-6 col-md-4">
                                <div class="post-inner">
                                    <figure class="post-thumb">
                                        <a ><img data-toggle="modal" data-target="#hitachi-modal-1" class="center-block img-responsive img-rounded creative-thumbnail" src="img/subpages/creative_modals/copywriting/hitachi_copy_1.png" alt="" /></a> 
                                        <a data-toggle="modal" data-target="#hitachi-modal-1"  class="text-center center-block"><i class="fa fa-picture-o"></i> SEE FULL</a>                                
                                    </figure><!--//post-thumb-->
                                </div><!--//post-inner-->
                            </article><!--//post-->

                            <article class="post col-xs-12 col-sm-6 col-md-4">
                                <div class="post-inner">
                                    <figure class="post-thumb">
                                        <a ><img data-toggle="modal" data-target="#hitachi-modal-2" class="center-block img-responsive img-rounded creative-thumbnail" src="img/subpages/creative_modals/copywriting/hitachi_copy_2.png" alt="" /></a> 
                                        <a data-toggle="modal" data-target="#hitachi-modal-2"  class="text-center center-block"><i class="fa fa-picture-o"></i> SEE FULL</a>                                
                                    </figure><!--//post-thumb-->
                                </div><!--//post-inner-->
                            </article><!--//post-->

                            <article class="post col-xs-12 col-sm-6 col-md-4 ">
                                <div class="post-inner">
                                    <figure class="post-thumb">
                                        <a><img data-toggle="modal" data-target="#hitachi-modal-3" class="center-block img-responsive img-rounded creative-thumbnail" src="img/subpages/creative_modals/copywriting/hitachi_copy_3.png" alt="" /></a> 
                                        <a data-toggle="modal" data-target="#hitachi-modal-3"  class="text-center center-block"><i class="fa fa-picture-o"></i> SEE FULL</a>                                
                                    </figure><!--//post-thumb-->
                                </div><!--//post-inner-->
                            </article><!--//post-->

                            <article class="col-xs-12 col-sm-6 col-md-4 ">
                                <div class="post-inner">
                                    <figure class="post-thumb">
                                        <a ><img data-toggle="modal" data-target="#hitachi-modal-4" class="center-block img-responsive img-rounded creative-thumbnail" src="img/subpages/creative_modals/copywriting/hitachi_copy_4.png" alt="" /></a> 
                                        <a data-toggle="modal" data-target="#hitachi-modal-4"  class="text-center center-block"><i class="fa fa-picture-o"></i> SEE FULL</a>                                
                                    </figure><!--//post-thumb-->
                                </div><!--//post-inner-->
                            </article><!--//post-->

                            <article class="col-xs-12 col-sm-6 col-md-4 ">
                                <div class="post-inner">
                                    <figure class="post-thumb">
                                        <a ><img data-toggle="modal" data-target="#hitachi-modal-5" class="center-block img-responsive img-rounded creative-thumbnail" src="img/subpages/creative_modals/copywriting/hitachi_copy_5.png" alt="" /></a> 
                                        <a data-toggle="modal" data-target="#hitachi-modal-5"  class="text-center center-block"><i class="fa fa-picture-o"></i> SEE FULL</a>                                
                                    </figure><!--//post-thumb-->
                                </div><!--//post-inner-->
                            </article><!--//post-->


                             
                            
                        </div><!--//blog-list-->
                    </div>  
                      

                     <h2 style="margin-top: 40px" class="title text-center">Generating New Creative</h2>
                <hr>
                <p class="intro text-center">Forte needed a bold, eye-catching set of graphics and cleanly written copy for their upcoming Facebook campaign to introduce their services to a specific target market. Targeted Social Delivered!</p>
                <div class="blog container">

                    <div id="blog-mansonry" class="blog-list">
                        
                        
 

                        <article class="post col-xs-12 col-sm-6 col-md-4 ">
                            <div class="post-inner">
                                <figure class="post-thumb">
                                    <a><img data-toggle="modal" data-target="#forte-modal-1" class=" center-block img-responsive img-rounded creative-thumbnail" src="img/subpages/creative_modals/independent/forte_1.jpg" alt="" /></a> 
                                    <a data-toggle="modal" data-target="#forte-modal-1"  class="text-center center-block"><i class="fa fa-picture-o"></i> SEE FULL</a>                                
                                </figure><!--//post-thumb-->
                            </div><!--//post-inner-->
                        </article><!--//post-->

                        <article class="post col-xs-12 col-sm-6 col-md-4 ">
                            <div class="post-inner">
                                <figure class="post-thumb">
                                    <a><img data-toggle="modal" data-target="#forte-modal-2" class=" center-block img-responsive img-rounded creative-thumbnail" src="img/subpages/creative_modals/independent/forte_2.jpg" alt="" /></a> 
                                    <a data-toggle="modal" data-target="#forte-modal-2"  class="text-center center-block"><i class="fa fa-picture-o"></i> SEE FULL</a>                                
                                </figure><!--//post-thumb-->
                            </div><!--//post-inner-->
                        </article><!--//post-->

                         
                         <article class="post col-xs-12 col-sm-6 col-md-4 ">
                             <div class="post-inner">
                                 <figure class="post-thumb">
                                     <a><img data-toggle="modal" data-target="#forte-modal-3" class=" center-block img-responsive img-rounded creative-thumbnail" src="img/subpages/creative_modals/independent/forte_3.jpg" alt="" /></a> 
                                     <a data-toggle="modal" data-target="#forte-modal-3"  class="text-center center-block"><i class="fa fa-picture-o"></i> SEE FULL</a>                                
                                 </figure><!--//post-thumb-->
                             </div><!--//post-inner-->
                         </article><!--//post-->

                          

                         
                        
                    </div><!--//blog-list-->  
                </div>

                <h2 style="margin-top: 40px" class="title text-center">Enhancing Existing Graphics</h2>
                <hr>
                <p class="intro text-center">Woodbridge by Robert Mondavi asked us to review their current creative originally designed for branding and enhance it for use in their latest promotion. Targeted Social re-organized the original images and added a customized call to action to clearly illustrate each promotion.</p>
                <div class="blog container">

                    <div id="blog-mansonry" class="blog-list">
                        
                        
                       <article class="post col-xs-12 col-sm-6 col-md-4">
                            <div class="post-inner">
                                <figure class="post-thumb">
                                    <a ><img data-toggle="modal" data-target="#woodbridge-modal-1" class="center-block img-responsive img-rounded creative-thumbnail" src="img/subpages/creative_modals/enhanced/woodbridge_1.png" alt="" /></a> 
                                    <a data-toggle="modal" data-target="#woodbridge-modal-1"  class="text-center center-block"><i class="fa fa-picture-o"></i> SEE FULL</a>                                
                                </figure><!--//post-thumb-->
                            </div><!--//post-inner-->
                        </article><!--//post-->

                        <article class="post col-xs-12 col-sm-6 col-md-4">
                            <div class="post-inner">
                                <figure class="post-thumb">
                                    <a ><img data-toggle="modal" data-target="#woodbridge-modal-2" class="center-block img-responsive img-rounded creative-thumbnail" src="img/subpages/creative_modals/enhanced/woodbridge_2.png" alt="" /></a> 
                                    <a data-toggle="modal" data-target="#woodbridge-modal-2"  class="text-center center-block"><i class="fa fa-picture-o"></i> SEE FULL</a>                                
                                </figure><!--//post-thumb-->
                            </div><!--//post-inner-->
                        </article><!--//post-->

                        <article class="post col-xs-12 col-sm-6 col-md-4 ">
                            <div class="post-inner">
                                <figure class="post-thumb">
                                    <a><img data-toggle="modal" data-target="#woodbridge-modal-3" class="center-block img-responsive img-rounded creative-thumbnail" src="img/subpages/creative_modals/enhanced/woodbridge_3.png" alt="" /></a> 
                                    <a data-toggle="modal" data-target="#woodbridge-modal-3"  class="text-center center-block"><i class="fa fa-picture-o"></i> SEE FULL</a>                                
                                </figure><!--//post-thumb-->
                            </div><!--//post-inner-->
                        </article><!--//post-->

                       
                    </div><!--//blog-list-->
                </div>
              </div>

                <div id="google_tab" class="tab-pane fade">
                  <h2 style="margin-top: 40px" class="title text-center">Generating New Creative</h2>
                  <hr>
                  <p class="intro text-center">Hitachi again called on us to develop and design the aesthetics for a Google banner campaign.</p>
                  <div class="blog container">

                      <div id="blog-mansonry" class="blog-list">
                          
                          
                  

                          <article class="post col-xs-12 col-sm-6 col-md-4 ">
                              <div class="post-inner">
                                  <figure class="post-thumb">
                                      <a><img data-toggle="modal" data-target="#hitachi-google-1" class=" center-block img-responsive img-rounded creative-thumbnail" src="img/subpages/creative_modals/independent/hitachi_google_1.jpg" alt="" /></a> 
                                      <a data-toggle="modal" data-target="#hitachi-google-1"  class="text-center center-block"><i class="fa fa-picture-o"></i> SEE FULL</a>                                
                                  </figure><!--//post-thumb-->
                              </div><!--//post-inner-->
                          </article><!--//post-->

                          <article class="post col-xs-12 col-sm-6 col-md-4 ">
                              <div class="post-inner">
                                  <figure class="post-thumb">
                                      <a><img data-toggle="modal" data-target="#hitachi-google-2" class=" center-block img-responsive img-rounded creative-thumbnail" src="img/subpages/creative_modals/independent/hitachi_google_2.jpg" alt="" /></a> 
                                      <a data-toggle="modal" data-target="#hitachi-google-2"  class="text-center center-block"><i class="fa fa-picture-o"></i> SEE FULL</a>                                
                                  </figure><!--//post-thumb-->
                              </div><!--//post-inner-->
                          </article><!--//post-->

                          <article class="post col-xs-12 col-sm-6 col-md-4 ">
                              <div class="post-inner">
                                  <figure class="post-thumb">
                                      <a><img data-toggle="modal" data-target="#hitachi-google-3" class=" center-block img-responsive img-rounded creative-thumbnail" src="img/subpages/creative_modals/independent/hitachi_google_3.jpg" alt="" /></a> 
                                      <a data-toggle="modal" data-target="#hitachi-google-3"  class="text-center center-block"><i class="fa fa-picture-o"></i> SEE FULL</a>                                
                                  </figure><!--//post-thumb-->
                              </div><!--//post-inner-->
                          </article><!--//post-->

                          <article class="post col-xs-12 col-sm-6 col-md-4 ">
                              <div class="post-inner">
                                  <figure class="post-thumb">
                                      <a><img data-toggle="modal" data-target="#hitachi-google-4" class=" center-block img-responsive img-rounded creative-thumbnail" src="img/subpages/creative_modals/independent/hitachi_google_4.jpg" alt="" /></a> 
                                      <a data-toggle="modal" data-target="#hitachi-google-4"  class="text-center center-block"><i class="fa fa-picture-o"></i> SEE FULL</a>                                
                                  </figure><!--//post-thumb-->
                              </div><!--//post-inner-->
                          </article><!--//post-->
                            

                           
                          
                      </div><!--//blog-list-->  
                  </div>  
                  
                </div>


                
            </div> <!--END OF TAB CONENT-->
               

          
        </div><!--//container-->

    </section><!--//why-->  


    
  
    
</div><!--//section-wrapper-->
<targeted-footer></targeted-footer>
<script>
    $('body').addClass('subpage-overflow');
</script>