
<targeted-header></targeted-header>

<div class="subpage window-wall animated fadeIn">
    <div class="wrapper leaders animated fadeIn ">
        <h1>About Us</h1>

        <h2 class="text-center learn-icon" style="margin-top: 0px;  text-shadow: 1px 1px 2px #0e5372; font-size: 34px; color: #ffffff; font-family: GothamBold;"><i class="fa fa-angle-double-down"></i></h2>
    </div>

</div>

 

<div class="sections-wrapper staff">   
    
    <section id="why" class="section why" style="padding-bottom: 0px;">
       


               <h2 class="title text-center">The Evolution of Targeted Social and the Social Media Business</h2>
               <hr>
               <img class="img-responsive" src="img/subpages/paid-media/evolution.jpg"/>

       </section><!--//why--> 
    <section id="why" class="section why leaders">
        <!-- ==== BLOG ==== -->
        <div class="container-fluid" id="blog" name="blog">
            <br>
            <h2 class="title text-center">Our Team</h2>
            <hr>

                <div class="staff-entry col-xs-12 col-sm-6 col-md-4" >

                    <div class="staff-entry-inner container-fluid" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="If you have seen a screen in a NYC taxi, you already have experienced some of Corey's work by creating the network and business model for thousands of wirelessly connected screens now deployed in every NYC taxicab. Corey also has experience in National Spot Television, National Network and Syndication Sales. He was the first head of sales ffor the UPN Network and SVP National Sales Manager for PAramount Pictures Domestic Television. In addition, Corey helped conceived and create the first Cross-platform sales organization, Viacom Plus and was the head of sales for TDI (now known as CBS Outdoor). Since 2009, Corey has helped hundreds of brands connect with their target audiences in Social Media, using a wealth of media experience and state of the art software he developed.">
                        <div class="col-xs-2">
                            <img src="img/bios/corey.png">
                        </div>
                        <div class="col-xs-10">
                            <h4 class="text-right">Corey Gottlieb</h4>
                            <h6 class="text-right">Managing Partner
                                <br>
                                <a href="https://www.linkedin.com/in/coreygottlieb1">

                                <i class="fa fa-linkedin"></i>
                                </a>

                            </h6>
                        </div>
                    </div>

                </div>


                <div class="staff-entry col-xs-12 col-sm-6 col-md-4" >

                    <div class="staff-entry-inner container-fluid" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="Sheri is the 'brains of the operation' and wears a variety of hats at Targeted Social. Sheri can regularly be seen around the office handling all the finance and legal functions as well as those other tasks no one else wnats to do. Sheri has an undergraduate degeree from The University of Michigan (GO BLUE), a JD from Boston University School of Law and a MBA from The Anderson School @ UCLA.">
                        <div class="col-xs-2">
                            <img src="img/bios/sheri.png">
                        </div>
                        <div class="col-xs-10">
                            <h4 class="text-right">Sheri Elowsky</h4>
                            <h6 class="text-right">Chief<br class="visible-xs hidden-sm hidden-md hidden-lg"> Financial Officer
                                <br>
                                <a href="https://www.linkedin.com/in/swelowsky">

                                <i class="fa fa-linkedin"></i>
                                </a>

                            </h6>
                        </div>
                    </div>

                </div>

                <div class="staff-entry col-xs-12 col-sm-6 col-md-4">

                        <div class="staff-entry-inner container-fluid"  data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="Jan has been launching and advising new media businesses for the past 20 years. Most recently, he was the founder and CEO of driverTV, an online video and cable VOD network he sold to NBC and Radical Media. He was part of the original launch team at TNT and NY1 and had senior sales management roles at Time warner, AOL, and Turner Broadcasting.">
                                <div class="col-xs-2">
                                    <img src="img/bios/jan.png">
                                </div>
                                <div class="col-xs-10">
                                    <h4 class="text-right">Jan Renner</h4>
                                    <h6 class="text-right">Partner
                                        <br>
                                        <a href="https://www.linkedin.com/in/janrenner1">

                                        <i class="fa fa-linkedin"></i>
                                        </a>

                                    </h6>
                                </div>
                        </div>

                </div>



                <div  class="staff-entry col-xs-12 col-sm-6 col-md-4" >

                        <div class="staff-entry-inner container-fluid" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="After slaving away in the academic halls of Brown University to acquire an Sc.B in Applied Math, Ashwin, despite his love of philosophical academica, wanted to put theory to practice and sought a life path. Digging for the heart of the city's vibrance, he found human connection and cultural virality at its core, and social media being the next dimension of human connection from relationships to revolutions became his door. Upon going through it, Ashwin found himself in Targeted Social's cutting-edge Insights and Analytics Division, where he applies sophisticated mathematics and creative intuition to aid others in creating social ad campaign vision.">

                            <div class="col-xs-2">
                                <img src="img/bios/ashwin.png">
                            </div>
                            <div class="col-xs-10">
                                <h4 class="text-right">Ashwin Dayal</h4>
                                <h6 class="text-right">Director<br class="visible-xs hidden-sm hidden-md hidden-lg"> of Innovation
                                    <br>
                                    <a href="https://www.linkedin.com/in/ashwin-dayal-19138266">

                                    <i class="fa fa-linkedin"></i>
                                    </a>

                                </h6>
                            </div>
                        </div>

                </div>


                <div class="staff-entry col-xs-12 col-sm-6 col-md-4">

                    <div class="staff-entry-inner container-fluid"  data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="After growing up in China and getting an undergraduate degree there, Kathia came to the US and earned a Master’s in Marketing Intelligence from Fordham University. Kathia is the primary person responsible for the performance of paid media campaigns and manages dozens of active campaigns daily. Kathia speaks fluent Mandarin, perfect English and is extremely detail oriented.">
                        <div class="col-xs-2">
                            <img src="img/bios/kathia.png">
                        </div>
                        <div class="col-xs-10">
                            <h4 class="text-right">Kathia Yu</h4>
                            <h6 class="text-right">Director of<br> Insights<br class="visible-xs hidden-sm hidden-md hidden-lg">  & Analytics
                                <br>
                                <a href="https://www.linkedin.com/in/kathiayu">

                                <i class="fa fa-linkedin"></i>
                                </a>

                            </h6>
                        </div>
                    </div>

                </div>


                <div  class=" col-xs-12 col-sm-6 col-md-4 staff-entry" >
                   
                        <div class="staff-entry-inner container-fluid" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="Veronika has extensive experience in social media, paid digital, content marketing, influencer outreach and community management in several industries, including tech, beauty, fashion as well as food & hospitality. Veronika’s current responsibilities include the planning and execution of paid media campaigns, managing audience acquisition & engagement strategies and is the brand voice for several clients including Hitachi Americas, where she generates engaging content paired with creative visual elements to increase the company’s reach and establish a natural two-way dialog with the brand.">
                            <div class="col-xs-2">
                                <img src="img/bios/veronika.png">
                            </div>
                            <div class="col-xs-10">
                                <h4 class="text-right">Veronika Guity</h4>
                                <h6 class="text-right">Director of<br> Insights<br class="visible-xs hidden-sm hidden-md hidden-lg">  & Analytics
                                    <br>
                                    <a href="https://www.linkedin.com/in/veronika-guity-96491b64">

                                    <i class="fa fa-linkedin"></i>
                                    </a>

                                </h6>
                            </div>
                        </div>

                </div>

                <div class="staff-entry col-xs-12 col-sm-6 col-md-4" >

                        <div class="staff-entry-inner container-fluid" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="Prior to joining Targeted Social, Phil was an accomplished recruiter in the pharmaceutical/biotech industry, founded a startup, and completed the Web Development Immersive at General Assembly. He brings a diverse set of experiences and web development knowledge to the position, where he aims to keep Targeted Social on the cutting edge of technology. Outside of the office, he can be found throwing a ball to his goldendoodle and rooting for his hometown Tampa sports teams. He lives on Long Island with his wife and two dogs.">
                            <div class="col-xs-2">
                                <img src="img/bios/phil.png">
                            </div>
                            <div class="col-xs-10">
                                <h4 class="text-right">Phil Welber</h4>
                                 <h6 class="text-right">Director of<br> Programming<br class="visible-xs hidden-sm hidden-md hidden-lg">  & Analytics
                                    <br>
                                    <a href="https://www.linkedin.com/in/philipwelber"><i class="fa fa-linkedin"></i>
                                    </a>

                                </h6>
                            </div>
                        </div>

                </div>

                    <div class="staff-entry col-xs-12 col-sm-6 col-md-4" >
                        <div class="staff-entry-inner plato container-fluid" data-trigger="hover" data-toggle="popover" data-placement="bottom" data-content="'The beginning is the most important part of the work.'
― Plato, The Republic. Once Plato’s writing fell into the public domain and was no longer receiving any residuals, he decided to join Targeted Social, after having previously worked closely with Corey and Sheri on other projects.  Plato is Targeted Social’s “employee #3”. He has been instrumental in the hiring decisions of virtually everyone who has joined the company since.  His responsibilities include greeting each and every person who visits the office and making sure they are happy and comfortable.  All Plato asks in return, is to never be locked out of a meeting and a simple head scratch from time to time">
                            <div class="col-xs-2">
                                <img src="img/bios/plato.png">
                            </div>
                            <div class="col-xs-10">
                                <h4 class="text-right">Plato</h4>
                                 <h6 class="text-right">Director of<br> First<br class="visible-xs hidden-sm hidden-md hidden-lg"> Impressions
                                </h6>
                            </div>
                        </div>
                    </div>
            



            
        </div><!-- /container -->
    </section><!--//why-->  

   


      

    
  
    
</div><!--//section-wrapper-->
<targeted-footer></targeted-footer>
<script>
$(document).ready(function(){

    $('[data-toggle="popover"]').popover(); 
    $('body').addClass('subpage-overflow');


});
    
</script>