<targeted-header></targeted-header>

<div class="subpage window-wall animated fadeIn">
    <div class="wrapper media animated fadeIn">
        <h1>Paid Media</h1>
        <h2 class="text-center learn-icon" style="margin-top: 0px;  text-shadow: 1px 1px 2px #0e5372; font-size: 34px; color: #ffffff; font-family: GothamBold;"><i class="fa fa-angle-double-down"></i></h2>
    </div>

</div>





<div class="sections-wrapper media">   
 
    <!-- ******Why Section****** -->
   <section id="why" class="section why">
      <div class="container">
          <h2 class="title text-center">Social Media Marketing is More Sophisticated Than Ever!</h2>
          <hr>
          <p class="text-center">With BILLIONS of daily active online users and the incredible amount of  sophisticated advertising formats available on social platforms like Facebook, Instagram, Twitter, LinkedIn, and Pinterest, <b>properly planning and executing campaigns</b> has become incredibly sophisticated. With Targeted Social as your partner however, you have access to our years of experience and a proven record of delivering for our clients. 
          <br>
          </p>
          <div class="container-fluid skills-lists ">
              <div class="col-xs-12 col-md-offset-1 col-md-10 questions list">
              	  <div class="container-fluid header">
	                  <span class="col-xs-12 col-md-2 list-icon center-block">
	                  	<i class="fa fa-lightbulb-o"></i>
                    </span>
	                  <p class="col-xs-12 col-d-offset-2 col-md-8" >
	                  	Targeted Social’s paid media services starts by helping our clients answer <b>THE MOST IMPORTANT QESTIONS</b> for every campaign before spending a dime!
	                  </p>
              	</div>
                  <ul class='col-xs-10 col-sm-offset-2 main-questions' >
                      <li ><i class="fa fa-crosshairs"></i>   What is the purpose of your campaign?</li>
                      <li ><i class="fa fa-group"></i>   Who is the ideal audience?</li>
                      <li><i class="fa fa-thumbs-up"></i>   What actions do you want to have happen?</li>
                  </ul>
              </div>
          </div>

          <img class="center-block img-responsive" style="margin-top: 50px;" src="img/subpages/paid-media/people.jpg"/>

      </div>

   </section><!--//why--> 

   <section id="why" class="section why">
      <div class="container">
          <h2 class="title text-center">What is the <b>purpose</b> of your campaign?</h2>
          <hr>
          <p class='text-center'>
          	
          </p>
          <div class="container-fluid skills-lists">
          	<div class="col-xs-12 skills-lists-box">
          	    <ul class="list-inline">
          	        <li><i class="fa fa-bullhorn"></i> Brand Awareness</li>
          	        <li><i class="fa fa-mouse-pointer"></i> Clicks to Website</li>
          	        <li><i class="fa fa-desktop"></i> Desktop App Engagement</li>
          	        <li><i class="fa fa-download"></i> Desktop App Installs</li>
          	        <li><i class="fa fa-check-square"></i> Event Responses</li>
          	        <li><i class="fa fa-mouse-pointer"></i> Lead Generation</li>
          	        <li><i class="fa fa-map-marker"></i> Local Awareness</li>
          	        <li><i class="fa fa-mobile"></i> Mobile App Engagement</li>
          	        <li><i class="fa fa-cloud-download"></i> Mobile App Installs</li>
          	        <li><i class="fa fa-gift"></i> Offer Claims</li>
          	        <li><i class="fa fa-thumbs-up"></i> Page Likes</li>
          	        <li><i class="fa fa-plus-square-o"></i> Page Post Engagement</li>
          	        <li><i class="fa fa-shopping-bag"></i> Product Catalog Sales</li>
          	        <li><i class="fa fa-play-circle"></i> Video Views</li>
          	        <li><i class="fa fa-globe"></i> Website Conversions</li>

          	    </ul>
          	    <span class="pull-right"style="font-size: 9px;">(examples from Facebook system 2016)</span>
          	</div>
          	  <div class="col-xs-12 col-md-12 purpose-item-wrapper">
          	  	<h3 style="margin-top: 30px;" class="text-center">Setting up a campaign objective offers a tremendous amount of options.</h3>
          	  	<p class="text-center" style=" margin-top: 50px;">Once your objectives are set, <b>successful campaigns</b> must also combine the right images, with powerful copy. Here are some examples.</p>
          	  	<div class="col-xs-12 col-sm-6 col-md-4 purpose-item">
          	  		<h2 class="text-center">Contest Entries</h2>
          	  		<img class="center-block img-responsive img-rounded" src="img/subpages/paid-media/contest_entries.png"/>
          	  	</div>
          	  	<div class="col-xs-12 col-sm-6 col-md-4 purpose-item">
          	  		<h2 class="text-center">Reach</h2>
          	  		<img class="center-block img-responsive img-rounded" src="img/subpages/paid-media/reach.png"/>
          	  	</div>
          	  	<div class="col-xs-12 col-sm-6 col-md-4 purpose-item">
          	  		<h2 class="text-center">Engagement</h2>
          	  		<img class="center-block img-responsive img-rounded" src="img/subpages/paid-media/engagement.png"/>
          	  	</div>
          	  	<div class="col-xs-12 ccol-sm-6 col-md-4 purpose-item">
          	  		<h2 class="text-center">Video Views</h2>
          	  		<img class="center-block img-responsive img-rounded" src="img/subpages/paid-media/video_views.png"/>
          	  	</div>
          	  	<div class="col-xs-12 col-sm-6 col-md-4 purpose-item">
          	  		<h2 class="text-center">Likes</h2>
          	  		<img class="center-block img-responsive img-rounded" src="img/subpages/paid-media/likes.png"/>
          	  	</div>
          	  	<div class="col-xs-12 col-sm-6 col-md-4 purpose-item">
          	  		<h2 class="text-center">Sales</h2>
          	  		<img class="center-block img-responsive img-rounded" src="img/subpages/paid-media/sales.png"/>
          	  	</div>
          	  </div>
             
          </div>

      </div>

   </section><!--//why--> 

   <section id="why" class="section why black">
   	<h2 class="title text-center">Who is the <b>target audience</b> for this initiative?</h2>
   	<hr>
   	<img class="img-responsive center-block" style="margin-top: 50px;" src="img/subpages/paid-media/word_cloud.png"/>
   </section>

    <section id="why" class="section why white">
    	<h2 class="title text-center">What are the best <b>data sources</b> available to segment and target specific audiences?
		</h2>
    	<hr>
    	<div class="container-fluid">
    		<div class="col-xs-12 col-sm-6 col-md-4">
    			<h3 class="title text-center">First Party Data (Cookies)</h2>
    			<img class="img-responsive center-block" style="margin-top: 50px;" src="img/subpages/paid-media/cookie.png"/>
    		</div>
    		<div class="col-xs-12 col-sm-6 col-md-4">
    			<h3 class="title text-center">Third Party Data</h2>
    			<img class="img-responsive center-block" style="margin-top: 50px;" src="img/subpages/paid-media/third_party_data.png"/>
    		</div>
    		<div class="col-xs-12 col-sm-6 col-md-4">
    			<h3 class="title text-center">Native Data</h2>
    			<img class="img-responsive center-block" style="margin-top: 50px;" src="img/subpages/paid-media/internal_data.png"/>
    		</div>
    	</div>
    </section>

    <section class="section sky">
    	<div class="flipper">
	    	<h2 class="title text-center">Our Paid Media Services are perfect for clients and agencies of all shapes and sizes.</h2>
	    	<hr>
	    	<div class="container-fluid">
		    	<ul class="review-list col-xs-12 col-md-offset-2 col-md-8 ">
		    		<li>No minimum spending commitments required.</li>
		    		<li>Planning, Buying, Optimization and Reporting included with every buy.</li>
		    		<li>Decades of media buying experience with all brand categories and all types of media</li>
		    		<li> All the latest technology available.</li>
		    		<li> Early testing partner for several platforms (be the first on the block with the newest toys)</li>
		    		<li>Dedicated Full Service account teams assigned to each account.</li>
		    		<li>Client portal access to monitor account activity in real time</li>
		    		<li>“White Labeled” services available for our agency partners.</li>
		    		<li>The MOST flexible cancellation policies. </li>
		    		<a href='#/contact'><button class="btn btn-primary btn-block"><i class="fa fa-envelope"></i> Get In Touch!</button></a>
		    	<ul>
		    </div>
		</div>
    </section> 

  
    
</div><!--//section-wrapper-->
<targeted-footer></targeted-footer>
<script src="javascript/lib/jqcloud.js"></script>

<script>
    $('body').addClass('subpage-overflow');

</script>