<div id="amtrak" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Amtrak</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/client_examples/amtrak.jpg" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="arbor_mist" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Arbor Mist</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/client_examples/arbor_mist.jpg" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="ashley_furniture" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Ashley Furniture</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/client_examples/ashley_furniture.jpg" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<div id="david_barton" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">David Barton</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/client_examples/david_barton_gym.jpg" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="farm_rich" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Farm Rich</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/client_examples/farm_rich_1.jpg" alt="" />
        <br>
        <img class="img-responsive" src="img/subpages/client_examples/farm_rich_2.jpg" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="ford" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Ford</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/client_examples/ford.jpg" alt="" />
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="gilt" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Gilt</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/client_examples/gilt.jpg" alt="" />
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="hitachi" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Hitachi</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/client_examples/hitachi.jpg" alt="" />
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="home_depot" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Home Depot</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/client_examples/home_depot.jpg" alt="" />
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="louisville" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Louisville University</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/client_examples/louisville.jpg" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="lucchese" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Luchesse</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/client_examples/lucchese.jpg" alt="" />
        <br>
        <img class="img-responsive" src="img/subpages/client_examples/lucchese_2.jpg" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="maries" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Marie's Dressing</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/client_examples/maries.jpg" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<div id="mark_west" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mark West</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/client_examples/mark_west.jpg" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="methodist" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Rethink Church</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/client_examples/methodist.jpg" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="mizzen_and_main" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mizzen and Main</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/client_examples/mizzen_and_main_1.jpg" alt="" />
        <br>
        <img class="img-responsive" src="img/subpages/client_examples/mizzen_and_main_2.jpg" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="mondavi" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Robert Mondavi Winery</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/client_examples/mondavi_1.jpg" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="nhca" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">North Carolina Hospital Association</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/client_examples/nhca.jpg" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="palm_bay" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Palm Bay</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/client_examples/palm_bay.jpg" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="panam" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Pan Am</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/client_examples/pan_am.jpg" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="stand_for_tees" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Stand for Trees</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/client_examples/stand_for_tees.jpg" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="trust_public_land" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">The Trust for Public Land</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/client_examples/trust_public_land.jpg" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="varidesk" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Varidesk</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/client_examples/varidesk.jpg" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="washington" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Washington International Horse Show</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/client_examples/washington_1.jpg" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="woodbridge" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Woodbridge by Robert Mondavi</h4>
      </div>
      <div class="modal-body">
        <img class="img-responsive" src="img/subpages/client_examples/woodbridge_1.jpg" alt="" />
        <br>
        <img class="img-responsive" src="img/subpages/client_examples/woodbridge_2.jpg" alt="" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>









<targeted-header></targeted-header>

<div class="subpage window-wall animated fadeIn">
    <div class="wrapper partners animated fadeIn">
        <h1>Our Clients</h1>
        <h2 class="text-center learn-icon" style="margin-top: 0px;  text-shadow: 1px 1px 2px #0e5372; font-size: 34px; color: #ffffff; font-family: GothamBold;"><i class="fa fa-angle-double-down"></i></h2>
    </div>

</div>





<div class="sections-wrapper">   
 
    <!-- ******Why Section****** -->
    <section id="why" class="section why">
        <div class="container creative clients">
            <div class="blog container">
                <div class="row">
                    <div id="blog-mansonry" class="blog-list">
                        <article class="post col-md-3 col-sm-6 col-xs-12">
                    
                                    <a ><img data-toggle="modal" data-target="#amtrak" class="img-responsive center-block img-rounded creative-thumbnail" src="img/subpages/clients/amtrak.jpg" alt="" /></a> 
                                                              
                        </article><!--//post-->

                        <article class="post col-md-3 col-sm-6 col-xs-12">
                        
                                    <a ><img data-toggle="modal" data-target="#arbor_mist" class="center-block  img-responsive img-rounded creative-thumbnail" src="img/subpages/clients/arbor_mist.jpg" alt="" /></a> 
                                                               
                        </article><!--//post-->

                        <article class="post col-md-3 col-sm-6 col-xs-12">
                        
                                    <a ><img data-toggle="modal" data-target="#ashley_furniture" class="center-block img-responsive img-rounded creative-thumbnail" src="img/subpages/clients/ashley.jpg" alt="" /></a> 
                                   
                        </article><!--//post-->

                        <article class="post col-md-3 col-sm-6 col-xs-12">
                        
                                    <a ><img data-toggle="modal" data-target="#david_barton" class="center-block  img-responsive img-rounded creative-thumbnail" src="img/subpages/clients/DBG.jpg" alt="" /></a> 
                                                                
                        </article><!--//post-->

                        <article class="post col-md-3 col-sm-6 col-xs-12">
                        
                                    <a ><img data-toggle="modal" data-target="#farm_rich" class="center-block  img-responsive img-rounded creative-thumbnail" src="img/subpages/clients/farm_rich.jpg" alt="" /></a> 
                                                             
                        </article><!--//post-->

                        <article class="post col-md-3 col-sm-6 col-xs-12">
                        
                                    <a ><img data-toggle="modal" data-target="#ford" class="center-block  img-responsive img-rounded creative-thumbnail" src="img/subpages/clients/ford.jpg" alt="" /></a> 
                                                            
                        </article><!--//post-->
                        
                        <article class="post col-md-3 col-sm-6 col-xs-12">
                        
                                    <a ><img data-toggle="modal" data-target="#hitachi" class="center-block  img-responsive img-rounded creative-thumbnail" src="img/subpages/clients/HITACHI.jpg" alt="" /></a> 
                                    
                        </article><!--//post-->

                        <article class="post col-md-3 col-sm-6 col-xs-12">
                        
                                    <a ><img data-toggle="modal" data-target="#gilt" class="center-block  img-responsive img-rounded creative-thumbnail" src="img/subpages/clients/GILT.jpg" alt="" /></a> 
                                    
                        </article><!--//post-->

                        <article class="post col-md-3 col-sm-6 col-xs-12">
                        
                                    <a ><img data-toggle="modal" data-target="#home_depot" class="center-block  img-responsive img-rounded creative-thumbnail" src="img/subpages/clients/home_depot.jpg" alt="" /></a> 
                                   
                        </article><!--//post-->

                        <article class="post col-md-3 col-sm-6 col-xs-12">
                        
                                    <a ><img data-toggle="modal" data-target="#louisville" class="center-block  img-responsive img-rounded creative-thumbnail" src="img/subpages/clients/UofL.jpg" alt="" /></a> 
                                                             
                        </article><!--//post-->

                        <article class="post col-md-3 col-sm-6 col-xs-12">
                        
                                    <a ><img data-toggle="modal" data-target="#lucchese" class="center-block  img-responsive img-rounded creative-thumbnail" src="img/subpages/clients/lucchese.jpg" alt="" /></a> 
                                                             
                        </article><!--//post-->

                        <article class="post col-md-3 col-sm-6 col-xs-12">
                        
                                    <a ><img data-toggle="modal" data-target="#maries" class="center-block  img-responsive img-rounded creative-thumbnail" src="img/subpages/clients/maries.jpg" alt="" /></a> 
                                   
                        </article><!--//post-->

                        <article class="post col-md-3 col-sm-6 col-xs-12">
                        
                                    <a ><img data-toggle="modal" data-target="#mark_west" class="center-block  img-responsive img-rounded creative-thumbnail" src="img/subpages/clients/mark_west.jpg" alt="" /></a> 
                                                            
                        </article><!--//post-->

                        <article class="post col-md-3 col-sm-6 col-xs-12">
                        
                                    <a ><img data-toggle="modal" data-target="#methodist" class="center-block  img-responsive img-rounded creative-thumbnail" src="img/subpages/clients/UMC.jpg" alt="" /></a> 
                                 
                        </article><!--//post-->

                        <article class="post col-md-3 col-sm-6 col-xs-12">
                        
                                    <a ><img data-toggle="modal" data-target="#mizzen_and_main" class="center-block  img-responsive img-rounded creative-thumbnail" src="img/subpages/clients/m+m.jpg" alt="" /></a> 
                                                                   
                        </article><!--//post-->

                        <article class="post col-md-3 col-sm-6 col-xs-12">
                        
                                    <a ><img data-toggle="modal" data-target="#mondavi" class="center-block img-responsive img-rounded creative-thumbnail" src="img/subpages/clients/robert_mondavi_winery.jpg" alt="" /></a> 
                                                               
                        </article><!--//post-->

                        <article class="post col-md-3 col-sm-6 col-xs-12">
                        
                                    <a ><img data-toggle="modal" data-target="#nhca" class="center-block  img-responsive img-rounded creative-thumbnail" src="img/subpages/clients/NCHA.jpg" alt="" /></a> 
                                                                    
                        </article><!--//post-->

                        <article class="post col-md-3 col-sm-6 col-xs-12">
                        
                                    <a ><img data-toggle="modal" data-target="#palm_bay" class="center-block  img-responsive img-rounded creative-thumbnail" src="img/subpages/clients/balm_bay.jpg" alt="" /></a> 
                                   
                        </article><!--//post-->

                        <article class="post col-md-3 col-sm-6 col-xs-12">
                        
                                    <a ><img data-toggle="modal" data-target="#panam" class="center-block img-responsive img-rounded creative-thumbnail" src="img/subpages/clients/PanAm_Toronto.jpg" alt="" /></a> 
                           
                        </article><!--//post-->

                        <article class="post col-md-3 col-sm-6 col-xs-12">
                        
                                    <a ><img data-toggle="modal" data-target="#stand_for_tees" class="center-block  img-responsive img-rounded creative-thumbnail" src="img/subpages/clients/stand4tree.jpg" alt="" /></a> 
                                
                        </article><!--//post-->

                        <article class="post col-md-3 col-sm-6 col-xs-12">
                        
                                    <a ><img data-toggle="modal" data-target="#trust_public_land" class="center-block  img-responsive img-rounded creative-thumbnail" src="img/subpages/clients/tpl.jpg" alt="" /></a> 
                                                                  
                        </article><!--//post-->

                        <article class="post col-md-3 col-sm-6 col-xs-12">
                        
                                    <a ><img data-toggle="modal" data-target="#varidesk" class="center-block  img-responsive img-rounded creative-thumbnail" src="img/subpages/clients/varidesk.jpg" alt="" /></a> 
                                                                  
                        </article><!--//post-->

                        <article class="post col-md-3 col-sm-6 col-xs-12">
                        
                                    <a ><img data-toggle="modal" data-target="#washington" class="center-block  img-responsive img-rounded creative-thumbnail" src="img/subpages/clients/WIHS.jpg" alt="" /></a> 
                                                                 
                        </article><!--//post-->

                        <article class="post col-md-3 col-sm-6 col-xs-12">
                        
                                    <a ><img data-toggle="modal" data-target="#woodbridge" class="center-block img-responsive img-rounded creative-thumbnail" src="img/subpages/clients/woodbridge.jpg" alt="" /></a> 
                                    <a data-toggle="modal" data-target="#woodbridge"  class="hidden text-center center-block"><i class="fa fa-arrow-right"></i> EXAMPLE WORK</a>                                
                        </article><!--//post-->


                        
                    </div><!--//blog-list-->  
                </div><!--//row-->

            </div><!--//blog-->        
          
        </div><!--//container-->

    </section><!--//why-->  


    
  
    
</div><!--//section-wrapper-->
<targeted-footer></targeted-footer>
<script>
    $('body').addClass('subpage-overflow');
</script>