<targeted-header></targeted-header>

<div class="subpage window-wall animated fadeIn">
    <div class="wrapper social animated fadeIn">
        <h1>Content<br> Management</h1>
        <h2 class="text-center learn-icon" style="margin-top: 0px;  text-shadow: 1px 1px 2px #0e5372; font-size: 34px; color: #ffffff; font-family: GothamBold;"><i class="fa fa-angle-double-down"></i></h2>
    </div>


</div>


<div class="sections-wrapper">   
 
    <!-- ******Why Section****** -->
    <section id="why" class="section why">
        <div class="container">
            <h2 class="title text-center">Anyone can create a status update... We create stories!</h2>
            <p class="intro text-center">Our team is built around the individual needs of every client – from methodically creating and building a brand’s social story to maintaining a real-time proactive and reactive relationship with our communities.</p>
            <hr style="margin-top: 75px;">
            <div class="row item">
                <div class="content col-md-6 col-sm-12 col-xs-12">
                    <h3 class="title">Community Management</h3>
                    <div class="desc">
                        <p>Our team immerses themselves in the brand’s channels to engage potential and current customers, brand advocates, influencers, media and other interested audiences. We are a one-stop-shop for creating lively and engaged social media communities through editorial planning, content and art direction, monitoring and moderation, campaigns and community building.</p>
                        
                    </div>
                                        
                </div><!--//content-->
                <figure class="figure col-md-6 col-sm-12 col-xs-12">
                    <img class="img-responsive img-rounded center-block" src="img/subpages/content/community.png" alt="" />
                </figure>
            </div><!--//item-->
            <hr style="margin-top: 75px;">

            <div class="row item">
                <div class="content col-md-6 col-sm-12 col-xs-12">
                    <h3 class="title">Content Management</h3>
                    <div class="desc">
                        <p>We have a proven record of successfully creating and managing content for companies in many industries, that other agencies struggle with: tech, healthcare, insurance, politics, non-profit, food and beverage, and hospitality.</p>
                        <p>Tell your story through platform-specific content. Showcase your business with branded imagery and hashtags. Grow your online community. Manage your social media customer services. Engage your fans and customers with unique promotions, contests and sweepstakes.</p>
                    </div>
    
                </div><!--//content-->
                <figure class="figure col-md-6 col-sm-12 col-xs-12 col-sm-offset-0 col-xs-offset-0 ">
                    <img class="img-responsive img-rounded center-block"  src="img/subpages/content/content.png" alt="" />
                </figure>
            </div><!--//item-->
            
            <hr style="margin-top: 75px;">
            
            <div class="row item " style="border-bottom: none;">
                <div class="content col-md-6 col-sm-12 col-xs-12">
                    <h3 class="title">Influencer Marketing</h3>
                    <div class="desc">
                       <p>We have been working with influencers from the get-go and are skilled in identifying those who are the best fit for your brand and will become a natural brand ambassador. Successful engagement and collaboration with the most prominent social media figures requires a personalized approach with a genuine understanding of both the individual and their fan base. Our team handles your influencer marketing from initial planning to logistics and final execution.</p>
                    </div>
                     <div class="quote hidden">
                        <div class="quote-profile">
                            <img class="img-responsive img-circle" src="img/profile-s-2.png" alt="" />
                        </div><!--//profile-->
                        <div class="quote-content">
                            <blockquote><p>I find the mobile app very useful when I'm on the go. Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p></blockquote>
                            <p class="source">@JackT, San Francisco</p>
                        </div><!--//quote-content-->         
                    </div><!--//quote-->                             
                </div><!--//content-->
                <figure class="figure col-md-6 col-sm-12 col-xs-12 col-sm-offset-0 col-xs-offset-0">
                   <img class="img-responsive img-rounded center-block" src="img/subpages/content/influencer.png" alt="" />
    
                </figure>
            </div><!--//item-->
          
        </div><!--//container-->

    </section><!--//why-->  


    
  
    
</div><!--//section-wrapper-->
<targeted-footer></targeted-footer>
<script>
    $('body').addClass('subpage-overflow');
</script>