<targeted-header></targeted-header>

<div class="subpage window-wall animated fadeIn">
    <div class="wrapper strategy animated fadeIn">
        <h1>Strategy & Insights</h1>
        <h2 class="text-center learn-icon" style="margin-top: 0px;  text-shadow: 1px 1px 2px #0e5372; font-size: 34px; color: #ffffff; font-family: GothamBold;"><i class="fa fa-angle-double-down"></i></h2>
    </div>


</div>




<div class="sections-wrapper">   
 
    <!-- ******Why Section****** -->
    <section id="why" class="section why">
        <div class="container">
            <h2 class="title text-center">Here goes a title introducing the content below.</h2>
            <p class="intro text-center">Some more description. Why not.</p>
            <hr>
            <div class="row item">
                <div class="content col-md-4 col-sm-12 col-xs-12">
                    <h3 class="title">Instant Insight</h3>
                    <div class="desc">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
    
                </div><!--//content-->
                <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                    <img class="img-responsive" src="img/filler.png" alt="" />
                    <figcaption class="figure-caption text-center">Here goes a capation</figcaption>
                </figure>
            </div><!--//item-->
            
            <div class="row item">
                <div class="content col-md-4 col-sm-12 col-xs-12 col-md-push-8 col-sm-push-0 col-xs-push-0">
                    <h3 class="title">Delve Deeper.</h3>
                    <div class="desc">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        
                    </div>
                    
                    <div class="quote">
                        <div class="feature-lead">
                          <h4 class="title">Want to test?</h4>
                      </div>    
                    </div><!--//quote-->                        
                </div><!--//content-->
                <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
                    <img class="img-responsive" src="img/filler.png" alt="" />
                    <figcaption class="figure-caption text-center">Here goes a caption.</figcaption>
                </figure>
            </div><!--//item-->
            
            <div class="row item " style="border-bottom: none;">
                <div class="content col-md-4 col-sm-12 col-xs-12">
                    <h3 class="title">Be the expert.</h3>
                    <div class="desc">
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br><br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                     <div class="quote hidden">
                        <div class="quote-profile">
                            <img class="img-responsive img-circle" src="img/profile-s-2.png" alt="" />
                        </div><!--//profile-->
                        <div class="quote-content">
                            <blockquote><p>I find the mobile app very useful when I'm on the go. Sed ut perspiciatis unde omnis iste natus error sit voluptatem </p></blockquote>
                            <p class="source">@JackT, San Francisco</p>
                        </div><!--//quote-content-->         
                    </div><!--//quote-->                             
                </div><!--//content-->
                <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                   <img class="img-responsive" src="img/filler.png" alt="" style="max-height: 400px;" />
                        <figcaption class="text-center figure-caption">Here goes a caption.</figcaption>
                </figure>
            </div><!--//item-->
          
        </div><!--//container-->

    </section><!--//why-->  


    
  
    
</div><!--//section-wrapper-->
<targeted-footer></targeted-footer>
<script>
    $('body').addClass('subpage-overflow');
</script>