<targeted-header></targeted-header>


<div class="subpage window-wall animated fadeIn">
    <div class="wrapper tech animated fadeIn">
        <h1>Technology &<br> Web Development</h1>

        <h2 class="text-center learn-icon" style="margin-top: 0px;  text-shadow: 1px 1px 2px #0e5372; font-size: 34px; color: #ffffff; font-family: GothamBold;"><i class="fa fa-angle-double-down"></i></h2>
    </div>

</div>




<div class="sections-wrapper tech">   
 
    <!-- ******Why Section****** -->
    <section id="why" class="section why">
        <div class="container">
            <h2 class="text-center">Successful campaigns are designed to drive traffic to a desired destination. Is your destination URL the best it can be? </h2>
            <hr>

            <p>With our design, technology & development expertise, our clients enjoy well-designed web sites, top search results and streamlined actions. Targeted Social also develops technologies to provide advanced analytics, reporting tools, and innovative advertising methodologies to enhance the strategy and implementation of clients’ campaigns</p>
        
            
            <ul class="nav nav-tabs text-center development-tabs" id="creative-tabs" role="tablist" >
                <li class="col-xs-12 col-sm-6 active"><a onclick="return false;"  href="#skills_tab" role="tab" data-toggle="tab" class=""><i class="fa fa-wrench"></i><br /><span > Our Skills</span></a></li>
                <li class="center-block col-xs-12 col-sm-6"><a onclick="return false;"  role="tab" data-toggle="tab" href="#case_tab" ><i class="fa fa-book"></i>
                  <br /><span class=""> Case Studies</span></a></li>
            </ul><!--//nav-tabs-->

            <div class="tab-content">
                <div id="skills_tab" class="tab-pane fade in active">
                    <div class="container-fluid tech-lists">
                        <div class="col-xs-12 col-md-4">
                            <span class="list-icon center-block"><i class="fa fa-cloud-download"></i></span>
                            <h2>API Intimacy</h2>
                            <hr>
                            <ul>
                                <li>Google Adwords API</li>
                                <li>Facebook's Marketing API</li>
                                <li>Instagram</li>
                                <li>Yelp</li>
                                <li>Google Maps</li>
                                <li>Pinterest</li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-md-4">    
                            <span class="list-icon center-block"><i class="fa fa-cubes"></i></span>
                            <h2>Frameworks Utilized</h2>
                            <hr>
                            <ul>
                                <li>Node.js</li>
                                <li>Express.js</li>
                                <li>Angular.js</li>
                                <li>Backbone.js</li>
                                <li>Django</li>
                                <li>Ruby on Rails</li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-md-4"> 
                            <span class="list-icon center-block"><i class="fa fa-code"></i></span>
                            <h2>Language Expertise</h2>
                            <hr>
                            <ul>
                                <li>Javascript</li>
                                <li>Ruby</li>
                                <li>Python</li>
                                <li>C#</li>
                                <li>HTML5/CSS3</li>
                                <li>PostgreSQL</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div id="case_tab" class="tab-pane fade in">
                   <section id="why" class="section why">
        <div class="container">
            <div class="row item">
                <div class="content col-md-5 col-sm-12 col-xs-12">
                    <h3 class="title">Weiss Analytics</h3>
                    <div class="desc">
                        <p>Our associate development team at Targeted Social designed and engineered Weiss Analytics' online platform. Weiss Analytics utilizes an index is constructed by combining all known, established effective methods for tracking price, novel cutting-edge algorithms, and powerful big data technologies to create an index with optimal accuracy for each individual home. Our development team was asked to craft an online software tool-kit built on the index, but also help improve the index itself.</p>
                    </div>
    
                </div><!--//content-->
                <figure class="figure col-md-7 col-sm-12 col-xs-12 col-sm-offset-0 col-xs-offset-0 ">
                     <a href="http://weissanalytics.com"><img class="img-responsive img-rounded center-block" src="img/subpages/tech/weiss.png" alt="" /></a>
                   <span class="center-block text-center visit"><a href="http://weissanalytics.com"><i class="fa fa-sign-out"></i> VISIT</a></span>
                </figure>
            </div><!--//item-->
            <hr style="margin-top: 75px;">
            <div class="row item">
                <div class="content col-md-5 col-sm-12 col-xs-12">
                    <h3 class="title">Cerenti</h3>
                    <div class="desc">
                        <p>Cerenti wanted a website that replicated the sophistication and boldness of their consulting. Our team was responsible for all branding and business materials, web design, and frontend engineering. The result was a slick, unique, and contemporary design for a company that needs to look state of the art.</p>
                        
                    </div>
                                        
                </div><!--//content-->
                <figure class="figure col-md-7 col-sm-12 col-xs-12">
                    <a href="http://cerenti.com"><img class="img-responsive img-rounded center-block" src="img/subpages/tech/cerenti.png" alt="" /></a>
                    <span class="center-block text-center visit"><a href="http://cerenti.com"><i class="fa fa-sign-out"></i> VISIT</a></span>
                </figure>
            </div><!--//item-->
            
          
        </div><!--//container-->

    </section><!--//why-->  
                </div>
            </div>

        </div><!--//container-->

    </section><!--//why-->  


    
  
    
</div><!--//section-wrapper-->
<targeted-footer></targeted-footer>
<script>
    $('body').addClass('subpage-overflow');
</script>