<nav class="navbar navbar-ct-blue navbar-fixed-top " role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navbar-brand-logo" href="http://www.targetedsocial.com/#/" id="nav-logo">
            <div class="brand"> <img id="logo" src="img/brand/targeted-logo.svg"></div>
          </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
                
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" onclick='return false;'>
            <i><img id="icon" src="img/header/lightbulb-icon.svg"></i>
            <p>Capabilities <i class="fa fa-angle-down"></i></p>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#/paid-media">Paid Media</a></li>
            <li><a href="#/creative">Creative</a></li>
            <li><a href="#/technology">Technology & Web Development</a></li>
            <li><a href="#/content-management">Content Management</a></li>
            <li><a  target="_blank" href="http://www.getsocialitical.com">Social Media for Politics</a></li>

          </ul>
        </li>
        <li>
            <a href="#/clients">
                <i><img id="icon" src="img/header/clients-icon.svg"></i>
                <p>Clients</p>
            </a>
        </li>
        <li>
            <a href="#/team">
                <i><img id="icon" src="img/header/capabilities-icon.svg"></i>
                <p>About & Team</p>
            </a>
        </li>
        <li>
            <a href="#/contact">
                <i><img id="icon" src="img/header/contact-icon.svg"></i>
                <p>Contact</p>
            </a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>