<div class="billboard hidden-xs hidden-sm visible-md visible-lg">
    <div class='photo' >
    </div>
    <div class='photo' >
        <h1>Welcome to our virtual <br>Corporate Headquarters</h1>
        <hr>
        <p>We live in a digital world! We are an Entrepreneurial Digital/Social Media company with significant experience, best in class technology and a team of experts to help agencies and brands of all sizes effectively and efficiently connect with their target audiences.</p>
    </div>

</div>