<div class="home-overlay visible-xs visible-sm hidden-md hidden-lg">
    <img class="bounceInDown animated" src="img/brand/logo-header.svg"/>
    <p class="animated fadeIn">
        Welcome to our virtual corporate headquarters!
        (which happens to look a lot like our NYC office)
        <br><br>
        We live in a digital world. Targeted Social offers key services to our clients & agency partners, so they can achieve all of their marketing and communication goals.
        <br>
        <br>
        <i class="fa fa-chevron-up animated tada infinite"></i>
    </p>
</div>


<script>

    $('.home-overlay').click(function() {
        $(this).addClass('removed');
        $('.window').addClass('animated tada');
    }); 

</script>