
@media #{$xs} {

	.home-overlay {
		@include background-image(linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0.8)));
		height: 100%;
		width: 100%;
		position: absolute;
		left: 0%;
		top: 0%;
		z-index: 10000000000000000000000000;
		font-weight: 700;
		cursor: pointer;
		@include transform(translateY(0%));
		@include transition(1s all);

		img {
			width: 86%;
			height: auto;
			margin-left: 7%;
			margin-top: 50px;
			@include animation-delay(1s);

		}

		p {
			color: #ffffff;
			margin-top: 15px;
			padding: 20px;
			line-height: 2em;
			font-size: 12px;
			text-align: center;
			text-shadow: 2px 2px 2px $targetedBlue;
			@include animation-delay(1s);


			i {
				text-align: center;
				font-size: 50px;
				@include animation-delay(1.5s);

			}
		}

	}

}

.home-overlay.removed{
	@include transform(translateY(100%));

}

@media #{$sm} {

	.homeOverlay {
		cursor: pointer;

		img {
			width: 60%;
			margin-left: 20%;
		}

		p {
			color: #ffffff;
			margin-top: 25px;
			padding: 60px;
			line-height: 2em;
			font-size: 28px;


			i {
				text-align: center;
				font-size: 60px;
			}
		}

	}




}



